<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cms.java_competition_management_system.mapper.CompetitionMapper">


    <select id="selectCompetitionList" resultType="cms.java_competition_management_system.entity.OutDTO.SelectCompetitionListOutDTO">
        SELECT
            competition_id,
            competition_name,
            college_id,
            competition_image,
            difficulty,
            level,
            stage,
            date_format(competition_time,'%Y/%m/%d') as competition_time,
            create_time,
            creator,
            judge_status,
            judgement,
            deleted
        FROM competition
        <where>
            <if test="competition.competitionName!=null and competition.competitionName!=''">
                AND competition_name=#{competition.competitionName}
            </if>
            <if test="competition.collegeId!=null and competition.collegeId!=''">
                AND college_id=#{competition.collegeId}
            </if>
            <if test="competition.difficulty!=null and competition.difficulty!=''">
                AND difficulty=#{competition.difficulty}
            </if>
            <if test="competition.level!=null and competition.level!=''">
                AND level=#{competition.level}
            </if>
            <if test="competition.stage!=null and competition.stage!=''">
                AND stage=#{competition.stage}
            </if>
        </where>
        ORDER BY
        competition_time desc
        LIMIT #{competition.pageSize} OFFSET #{competition.currentOffset}
    </select>

    <select id="selectDictionaryList" resultType="cms.java_competition_management_system.entity.OutDTO.DictionaryOutDTO">
        select code_type,code_value,code_meaning from dictionary where code_type = #{codeType};
    </select>
    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM competition
        <where>
            <if test="competition.competitionName!=null and competition.competitionName!=''">
                AND competition_name=#{competition.competitionName}
            </if>
            <if test="competition.collegeId!=null and competition.collegeId!=''">
                AND college_id=#{competition.collegeId}
            </if>
            <if test="competition.difficulty!=null and competition.difficulty!=''">
                AND difficulty=#{competition.difficulty}
            </if>
            <if test="competition.level!=null and competition.level!=''">
                AND level=#{competition.level}
            </if>
            <if test="competition.stage!=null and competition.stage!=''">
                AND stage=#{competition.stage}
            </if>
        </where>
    </select>
</mapper>
