<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cms.java_competition_management_system.mapper.MenuMapper">

    <select id="selectMenuByRoleId" resultType="cms.java_competition_management_system.entity.Menu">
        select
        m.id,m.parent_id,m.menu_name,m.icon,m.sort,m.perms,m.menu_type,m.deleted,m.create_time
        from menu m left join role_menu rm on m.id = rm.menu_id
        where rm.role_id in 
        <foreach collection="roleIds" open="(" close=")" separator="," item="roleId">
            #{roleId}
        </foreach>
    </select>
    <select id="selectMenuData" resultType="cms.java_competition_management_system.entity.Menu">
        SELECT
            m.icon,m.perms,m.menu_name,m.sort
        FROM
            role r
                LEFT JOIN role_menu ru ON r.role_id = ru.role_id
                LEFT JOIN menu m ON ru.menu_id = m.id
        WHERE
            r.deleted = 0
          AND m.deleted = 0
          AND r.role_id = #{menuId}
        ORDER BY
            m.sort ASC;
    </select>
</mapper>
